PORT=3001
DATABASE_URL=localhost:3001
CLIENT_URL=http://localhost:3000
ENCRYPT_KEY=secret
BETTER_AUTH_URL=http://localhost:3001
BETTER_AUTH_SECRET=secret
GITHUB_CLIENT_ID=cliend_id
GITHUB_CLIENT_SECRET=secret
GOOGLE_CLIENT_ID=cliend_id
GOOGLE_CLIENT_SECRET=secret
GITLAB_CLIENT_ID=cliend_id
GITLAB_CLIENT_SECRET=secret
GITLAB_ISSUER=secret